variable "amis" {
    type = map(string)

    default = {
        "us-east-1" = "ami-052efd3df9dad4825",
        "us-east-2" = "ami-02f3416038bdb17fb"
    }
}

variable "keyname_ssh_access" {
    description = "Key_name ACCESS SSH"
    type = string
    default = "terraform-aws"
}

variable "instance_type" {
    description = "Instance Type"
    type = string
    default = "t2.micro"
}

variable "vpcs" {
    type = map(string)

    default = {
        "us-east-1" = "vpc-********",
        "us-east-2" = "vpc-********"
    }
}

variable "sub_nets" {
    type = map(string)

    default = {
        "us-east-1" = "subnet-********",
        "us-east-2" = "subnet-********"
    }
}

variable "cdirs_remote_access" {
    type = list(string)

    default = [
        "***.**.**.***/32"
    ]
}